
   <div id="templatemo_footer">

	<ul class="footer_menu">
        <li><a href="~/Home">Home</a></li>
        <li class="last_menu"><a href="~/Products">Products</a></li>
    </ul>

    Copyright &copy;  2012 <a href="http://www.kvchosting.com/dedicated-servers.html">dedicated hosting</a> by KVCHOSTING.COM</a>

</div> <!-- end of footer -->
        