
<!--Register & Login -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

      @RenderSection("Styles")
</head>
<body>
    @RenderBody()
  
   @RenderPage("_Footer.cshtml")
</body>
</html>