@{
      
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
    <link href="../templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../stylesheet/styles.css" />

        @RenderSection("Styles")
    </head>
    <body>
       
@RenderSection("Slider")
        @RenderBody()
      
        

       @RenderPage("_Footer.cshtml")
    </body>
</html>
